<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>View All Blog</title>
    <link rel="stylesheet" href="../../public/styles/style.css">
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
    />
    <script
      src='https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js'
    ></script>
  </head>
  <body>
    <div class='container'>
      <!-- Button to add a new blog -->
      <div class='p-2 mb-3'>
        <a id='addNewBlogBtn' class='btn btn-primary'>Add New Blog</a>
      </div>

      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th colspan='2'>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each blogs}}
            <tr>
              <td>{{id}}</td>
              <td>{{title}}</td>
              <td>{{{content}}}</td>
              <td>
                <a
                  href='#'
                  class='btn btn-sm btn-info'
                  onclick='viewBlog({{id}})'
                >Detail</a>
                <a
                  href='#'
                  class='btn btn-sm btn-warning'
                  onclick='editBlog({{id}})'
                >Edit</a>
                <button
                  class='btn btn-sm btn-danger'
                  onclick='deleteBlog({{id}})'
                >Delete</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <script>
      const baseUrl = `${window.location.origin}/api/v1`;
      document.getElementById('addNewBlogBtn').href = `${baseUrl}/blogs/ckeditor`;

      function viewBlog(id) {
        window.location.href = `${baseUrl}/blogs/ckeditor/${id}`;
      }

      function editBlog(id) {
        window.location.href = `${baseUrl}/blogs/ckeditor/${id}/edit`;
      }

      function deleteBlog(id) {
        if (confirm('Are you sure you want to delete this blog?')) {
          fetch(`${baseUrl}/blogs/${id}`, {
            method: 'DELETE',
          })
          .then(response => {
            if (response.ok) {
              window.location.reload();
            } else {
              alert('Error deleting blog');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      }
    </script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'
    ></script>
    <script src='/script/script.js'></script>
  </body>
</html>