<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View All Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
</head>
<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each blogs}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{{content}}}</td>
          <td>
            <a href="/blogs/ckeditor/{{id}}" class="btn btn-sm btn-info">Detail</a>
            <a href="/blogs/ckeditor/{{id}}/edit" class="btn btn-sm btn-warning">Edit</a>
            <button class="btn btn-sm btn-danger" onclick="deleteBlog({{id}})">Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <script>
    function deleteBlog(id) {
      if (confirm('Are you sure you want to delete this blog?')) {
        fetch(`/blogs/${id}`, {
          method: 'DELETE',
        })
        .then(response => {
          if (response.ok) {
            window.location.reload(); // Reload the page or handle the UI update
          } else {
            alert('Error deleting blog');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    }
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/script/script.js"></script>
</body>
</html>
