<table id="example" class="display" style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.map((item) => { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.email %></td>
        <td><%= item.phoneNumber %></td>
        <td><%= item.address %></td>
        <td><%= item.roleId %></td>
        <td style="white-space: nowrap;">
          <a href="/admin/users/edit">
            <button class="btn edit">Edit</button>
          </a>
          <button class="btn delete">Delete</button>
        </td>
      </tr>
    <% }); %>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Age</th>
      <th>Start date</th>
      <th>Salary</th>
    </tr>
  </tfoot>
</table>
