<!doctype html>
<html lang="en">
  <head>
    <%- include('../../layouts/head.ejs') %>
  </head>
  <body id="reportsPage">
    <div id="home">
      <%- include('../../layouts/navbar.ejs') %>
      <div class="container mt-big mb-big">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="bg-primary-dark block block-h-auto">
              <div class="row">
                <div class="col-12">
                  <h2 class="block-title d-inline-block">Edit Service</h2>
                </div>
              </div>
              <div class="row">
                <form
                  action="/api/v1/services/<%= service.id %>?_method=patch"
                  class="d-flex flex-wrap"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group mb-3">
                      <label for="name" class="mt-2">Service Name</label>
                      <input
                        id="name"
                        name="name"
                        type="text"
                        class="form-control validate"
                        value="<%= service.name %>"
                        required
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="description">Description</label>
                      <textarea
                        class="form-control validate"
                        rows="3"
                        name="description"
                      ><%= service.description %></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="type">Type</label>
                      <% const options = ['multi', 'single']; %>
                      <select class="custom-select" id="type" value="<%= service.type %>" required name="type">
                        <% options.forEach((option) => { %>
                          <option value="<%= option %>" <%= option === service.type ? 'selected' : '' %> ><%= option %></option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <label for="price">Price</label>
                      <input
                        id="price"
                        name="price"
                        type="number"
                        class="form-control validate"
                        value="<%= service.price %>"
                      />
                    </div>
                    <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="discount">Discount</label>
                        <input
                          id="discount"
                          name="discount"
                          type="number"
                          class="form-control validate"
                          value="<%= service.discount %>"
                        />
                      </div>
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="discountedPrice">Discounted Price</label>
                        <input
                          id="discountedPrice"
                          name="discountedPrice"
                          type="text"
                          class="form-control validate"
                          value="<%= service.discountedPrice %>"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                    <div class="form-group mb-3" id="containerInput">
                      <div class="d-flex align-items-center">
                        <label for="features" class="mt-2">Features</label>
                        <button type="button" class="btn-add-features" id="addButton">+</button>
                      </div>
                      <% service.features.forEach((feature, index) => { %>
                        <div class="d-flex" data-index="<%= index %>">
                          <input type="text" name="features[]" class="form-control" value="<%= feature %>">
                          <button type="button" class="btn-remove-features" onclick="removeInput('<%= index %>')">-</button>
                        </div>
                      <% }) %>
                    </div>
                    <div class="mb-3">
                      <!-- image preview before on onchange -->
                      <div class="slider" id="upload-icon">
                        <div class="slides">
                          <% service.images.map((image) => { %>
                            <img class="slide" src="<%= image %>" alt="Image" />
                          <% }) %>
                        </div>
                        <button type="button" class="prev" onclick="prevSlide()">&#8249;</button>
                        <button type="button" class="next" onclick="nextSlide()">&#8250;</button>
                      </div>
                      <!-- image preview after on onchange -->
                      <div class="slider">
                        <div class="slides" id="imagePreview"></div>
                        <button type="button" class="prev" onclick="prevSlide()">&#8249;</button>
                        <button type="button" class="next" onclick="nextSlide()">&#8250;</button>
                      </div>
                      <!-- image upload url -->
                      <input type="hidden" id="images" name="images" />
                      <!-- image upload button -->
                      <div class="custom-file mt-3 mb-3">
                        <input
                          id="fileInput"
                          type="file"
                          name="uploads[]"
                          multiple
                          style="display: none"
                          onchange="uploadImage(event)"
                        />
                        <input
                          type="button"
                          class="btn btn-primary btn-block mx-auto"
                          value="UPLOAD SERVICE IMAGE"
                          onclick="document.getElementById('fileInput').click();"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Edit Service Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('../../layouts/footer.ejs') %>
    </div>

    <%- include('../../layouts/multiple-upload.ejs') %>
    <%- include('../../layouts/script.ejs') %>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
