<!doctype html>
<html lang="en">
  <head>
    <%- include('../../layouts/head.ejs') %>
  </head>
  <body id="reportsPage">
    <div id="home">
      <%- include('../../layouts/navbar.ejs') %>
      <div class="container mt-5">
        <h1 class="title-top text-uppercase">Product Section</h1>
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% products.map((item)=>{ %>
                <tr>
                  <td class="tm-product-name text-nowrap"><%= item.name %></td>
                  <td><%= item.description %></td>
                  <td>
                    <a
                      href="/admin/products/<%= item.id %>/update"
                      class="tm-product-link"
                    >
                      <i class="fas fa-pencil-alt" style="color: cadetblue"></i>
                    </a>
                  </td>
                  <td>
                    <a
                      href="/admin/products/<%= item.id %>"
                      class="tm-product-link"
                    >
                      <i class="fas fa-eye" style="color: bisque"></i>
                    </a>
                  </td>
                  <td>
                    <button class="tm-product-link btn">
                      <i class="fas fa-trash-alt" style="color: red"></i>
                    </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <a
            href="/admin/products/create"
            class="btn btn-primary btn-block text-uppercase mb-3"
            >Add new product</a
          >
          <button class="btn btn-primary btn-block text-uppercase">
            Delete selected products
          </button>
        </div>
      </div>
      <%- include('../../layouts/footer.ejs') %>
    </div>

    <%- include('../../layouts/script.ejs') %>
  </body>
</html>
